# File to clean the original database to work with it

In [1]:
import numpy as np
import pandas as pd

import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('data/given_by_s/cenapi.csv')

df.columns = ["REGISTRO NACIONAL","FECHA REPORTE","HORA REPORTE","FECHA EVENTO","HORA EVENTO","ESTADO","CLAVE ESTADO","MUNICIPIO","CLAVE MUNICIPIO","NACIONALIDAD",
"ESTATUS MIGRATORIO","SEXO","FECHA DE NACIMIENTO","EDAD","SEÑAS PARTICULARES","SEnAS PARTICULARES","MEDIA FILIACIoN","ENFERMEDAD","DISCAPACIDAD MENTAL","TIPO DE DISCAPACIDAD MENTAL",
"DESCRIPCIoN DE VESTIMENTA","CONTABA CON APARATOS DE COMUNICACIoN","OCUPACIoN","RELACIoN CON GRUPOS DELICTIVOS","FECHA DE ULTIMO AVISTAMIENTO","HORA DE ULTIMO AVISTAMIENTO",
"TIPO DE VEHiCULO","MARCA DE VEHiCULO","AnO DEL VEHiCULO","DISCAPACIDAD FiSICA","PROCEDENCIA","PAiS DE ORiGEN","ENTIDAD","ETNIA","ANTEOJOS","FECHA DE LOCALIZACIoN","HORA DE LOCALIZACIoN",
"VIVO O MUERTO","POSIBLE CAUSA DESAPARICIoN","CONDICIoN ENCONTRADO","ESTADO (LOCALIZADO)","CLAVE ESTADO (LOCALIZADO)","MUNICIPIO (LOCALIZADO)","CLAVE MUNICIPIO (LOCALIZADO)","ENTE QUE LOCALIZA",
"FECHA DE INGRESO","HORA DE INGRESO","FECHA PROBABLE DE FALLECIMIENTO","CAUSAS DE FALLECIMIENTO","PESO","ESTATURA","FORMA DE LA CARA","COLOR DE OJOS","TIPO DE OJOS","TEZ","FORMA DEL CABELLO","LARGO DEL CABELLO",
"COLOR DEL CABELLO","TAMAnO DE OREJAS","FORMA DEL MENToN","TAMAnO DE LA NARIZ","TIPO DE NARIZ","GROSOR DE LABIOS","TIPO DE FRENTE","CEJAS","TIPO DE CEJAS","TAMAnO DE LA BOCA","BARBA","BIGOTE",
"SUBMARCA","TIPO DENUNCIA","TIPO DE EVENTO","TIPO CAUSAL","CLASIFICACION CAUSAL","CAUSAL"]

df.head()

,REGISTRO NACIONAL,FECHA REPORTE,HORA REPORTE,FECHA EVENTO,HORA EVENTO,ESTADO,CLAVE ESTADO,MUNICIPIO,CLAVE MUNICIPIO,NACIONALIDAD,...,TIPO DE CEJAS,TAMAnO DE LA BOCA,BARBA,BIGOTE,SUBMARCA,TIPO DENUNCIA,TIPO DE EVENTO,TIPO CAUSAL,CLASIFICACION CAUSAL,CAUSAL
0,DESAPARECIDO,12/10/11 0:00,10:30:00,09/02/09 0:00,2:30:00,Tlaxcala,29,TLAXCALA,33,MEXICANA,...,NaN,NaN,NaN,NaN,NO ESPECIFICADO,NaN,EVENTOS VALIDADOS,,,
1,DESAPARECIDO,03/01/12 0:00,10:00:00,28/12/11 0:00,12:00:00,Colima,6,VILLA DE ALVAREZ,10,MEXICANA,...,NaN,NaN,NaN,NaN,NO ESPECIFICADO,NaN,EVENTOS VALIDADOS,,,
2,DESAPARECIDO,19/12/11 0:00,11:20:00,17/12/11 0:00,9:00:00,Tlaxcala,29,LA MAGDALENA TLALTELULCO,48,MEXICANA,...,NaN,NaN,NaN,NaN,NO ESPECIFICADO,NaN,EVENTOS VALIDADOS,AUSENCIA INVOLUNTARIA,ACCIDENTES,
3,DESAPARECIDO,02/01/12 0:00,11:41:00,14/12/11 0:00,11:00:00,Colima,6,TECOMAN,9,MEXICANA,...,NaN,GRANDE,NaN,NaN,NO ESPECIFICADO,NaN,EVENTOS VALIDADOS,,,
4,DESAPARECIDO,06/01/12 0:00,12:00:00,05/01/12 0:00,11:15:00,Colima,6,VILLA DE ALVAREZ,10,MEXICANA,...,NaN,NaN,NaN,NaN,NO ESPECIFICADO,NaN,EVENTOS VALIDADOS,,,

In [3]:
for element in ["FECHA REPORTE",'FECHA EVENTO', 'FECHA DE ULTIMO AVISTAMIENTO', 'FECHA DE INGRESO', 'FECHA PROBABLE DE FALLECIMIENTO', "FECHA DE LOCALIZACIoN", "FECHA DE NACIMIENTO", "FECHA PROBABLE DE FALLECIMIENTO"]:
    df[element] = df[element].str.replace(r' 0:00$', '')

df[["FECHA REPORTE",'FECHA EVENTO', 'FECHA DE ULTIMO AVISTAMIENTO', 'FECHA DE INGRESO', 'FECHA PROBABLE DE FALLECIMIENTO', "FECHA DE LOCALIZACIoN", "FECHA DE NACIMIENTO", "FECHA PROBABLE DE FALLECIMIENTO"]].head()

,FECHA REPORTE,FECHA EVENTO,FECHA DE ULTIMO AVISTAMIENTO,FECHA DE INGRESO,FECHA PROBABLE DE FALLECIMIENTO,FECHA DE LOCALIZACIoN,FECHA DE NACIMIENTO,FECHA PROBABLE DE FALLECIMIENTO
0,12/10/11,09/02/09,09/02/11,NaN,NaN,NaN,15/02/95,NaN
1,03/01/12,28/12/11,28/12/11,NaN,NaN,01/11/13,01/01/00,NaN
2,19/12/11,17/12/11,17/12/11,18/12/11,NaN,18/12/11,01/01/00,NaN
3,02/01/12,14/12/11,14/12/11,NaN,NaN,01/05/12,22/09/96,NaN
4,06/01/12,05/01/12,01/03/12,NaN,NaN,01/12/12,01/01/00,NaN

## NOTA inconsistencias en los datos: en la db original los siguientes datos tienen como año de evento 1900 pero el reporte es después del año 2000, con lo cual todos los siguientes datos serán tratados como NaT en python, con lo cual podremos observar datos erroneos

In [4]:
df[df["FECHA EVENTO"] == "01/01/00"]

,REGISTRO NACIONAL,FECHA REPORTE,HORA REPORTE,FECHA EVENTO,HORA EVENTO,ESTADO,CLAVE ESTADO,MUNICIPIO,CLAVE MUNICIPIO,NACIONALIDAD,...,TIPO DE CEJAS,TAMAnO DE LA BOCA,BARBA,BIGOTE,SUBMARCA,TIPO DENUNCIA,TIPO DE EVENTO,TIPO CAUSAL,CLASIFICACION CAUSAL,CAUSAL
172,DESAPARECIDO,22/04/08,10:40:00,01/01/00,12:00:00,Hidalgo,13,ACAXOCHITLAN,2,MEXICANA,...,NaN,GRANDE,NaN,NaN,NO ESPECIFICADO,NaN,EVENTOS VALIDADOS,,,
181,DESAPARECIDO,22/10/07,12:00:00,01/01/00,12:00:00,Hidalgo,13,PACHUCA DE SOTO,48,MEXICANA,...,NaN,NaN,NaN,NaN,NO ESPECIFICADO,NaN,EVENTOS VALIDADOS,AUSENCIA VOLUNTARIA,POR SU PROPIA VOLUNTAD,RELACIONES PERSONALES
1388,DESAPARECIDO,01/03/10,12:00:00,01/01/00,12:00:00,Morelos,17,OCUITUCO,16,MEXICANA,...,NaN,NaN,NaN,NaN,NO ESPECIFICADO,NaN,EVENTOS VALIDADOS,,,
1390,DESAPARECIDO,29/08/10,12:00:00,01/01/00,12:00:00,Morelos,17,ATLATLAHUCAN,2,MEXICANA,...,NO ESPECIFICADO,NO ESPECIFICADO,NO ESPECIFICADO,NO ESPECIFICADO,NO ESPECIFICADO,NaN,EVENTOS VALIDADOS,AUSENCIA VOLUNTARIA,POR SU PROPIA VOLUNTAD,RELACIONES PERSONALES
1391,DESAPARECIDO,09/11/10,12:00:00,01/01/00,12:00:00,Morelos,17,YAUTEPEC,29,MEXICANA,...,NaN,NaN,NaN,NaN,NO ESPECIFICADO,NaN,EVENTOS VALIDADOS,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96599,DESAPARECIDO,03/06/16,11:33:00,01/01/00,12:00:00,Baja California,2,TIJUANA,4,MEXICANA,...,NaN,MEDIANA,NaN,NaN,NaN,NaN,EVENTOS VALIDADOS,,,
96600,DESAPARECIDO,03/06/16,11:33:00,01/01/00,12:00:00,Baja California,2,TIJUANA,4,MEXICANA,...,NaN,MEDIANA,NaN,NaN,NaN,NaN,EVENTOS VALIDADOS,,,
96609,DESAPARECIDO,22/06/16,2:30:00,01/01/00,1:00:00,Baja California,2,TIJUANA,4,MEXICANA,...,NaN,MEDIANA,NaN,NaN,NaN,NaN,EVENTOS VALIDADOS,,,
96859,DESAPARECIDO,11/07/16,11:55:00,01/01/00,12:00:00,Baja California,2,TIJUANA,4,MEXICANA,...,NaN,NaN,NaN,NaN,NaN,NaN,EVENTOS VALIDADOS,,,
98123,DESAPARECIDO,08/09/17,8:35:00,01/01/00,12:00:00,NO ESPECIFICADO,0,NO ESPECIFICADO,0,MEXICANA,...,NaN,NaN,NaN,NaN,NaN,NaN,EVENTOS VALIDADOS,,,

In [5]:
df["FECHA REPORTE"] = df["FECHA REPORTE"] + " " + df["HORA REPORTE"]
df["FECHA EVENTO"] = df["FECHA EVENTO"] + " " + df["HORA EVENTO"]
df["FECHA DE ULTIMO AVISTAMIENTO"] = df["FECHA DE ULTIMO AVISTAMIENTO"] + " " + df["HORA DE ULTIMO AVISTAMIENTO"]
df["FECHA DE LOCALIZACIoN"] = df["FECHA DE LOCALIZACIoN"] + " " + df["HORA DE LOCALIZACIoN"]
df["FECHA DE INGRESO"] = df["FECHA DE INGRESO"] + " " + df["HORA DE INGRESO"]

df[["FECHA REPORTE",'FECHA EVENTO', 'FECHA DE ULTIMO AVISTAMIENTO', 'FECHA DE INGRESO', "FECHA DE LOCALIZACIoN"]].head()

,FECHA REPORTE,FECHA EVENTO,FECHA DE ULTIMO AVISTAMIENTO,FECHA DE INGRESO,FECHA DE LOCALIZACIoN
0,12/10/11 10:30:00,09/02/09 2:30:00,09/02/11 2:30:00,NaN,NaN
1,03/01/12 10:00:00,28/12/11 12:00:00,28/12/11 12:00:00,NaN,01/11/13 10:00:00
2,19/12/11 11:20:00,17/12/11 9:00:00,17/12/11 9:00:00,18/12/11 10:00:00,18/12/11 12:00:00
3,02/01/12 11:41:00,14/12/11 11:00:00,14/12/11 12:00:00,NaN,01/05/12 12:00:00
4,06/01/12 12:00:00,05/01/12 11:15:00,01/03/12 12:00:00,NaN,01/12/12 8:00:00

In [6]:
for element in ["FECHA REPORTE",'FECHA EVENTO', 'FECHA DE ULTIMO AVISTAMIENTO', 'FECHA DE INGRESO', "FECHA DE LOCALIZACIoN",'FECHA PROBABLE DE FALLECIMIENTO']:
    df[element] = pd.to_datetime(df[element],errors="coerce") # el errors coerce, tomará todos los errores en fechas como NaT, con lo que vemos inconcistencias

df[["FECHA REPORTE",'FECHA EVENTO', 'FECHA DE ULTIMO AVISTAMIENTO', 'FECHA DE INGRESO', 'FECHA PROBABLE DE FALLECIMIENTO', "FECHA DE LOCALIZACIoN"]].head()

,FECHA REPORTE,FECHA EVENTO,FECHA DE ULTIMO AVISTAMIENTO,FECHA DE INGRESO,FECHA PROBABLE DE FALLECIMIENTO,FECHA DE LOCALIZACIoN
0,2011-12-10 10:30:00,2009-09-02 02:30:00,2011-09-02 02:30:00,NaT,NaT,NaT
1,2012-03-01 10:00:00,2011-12-28 12:00:00,2011-12-28 12:00:00,NaT,NaT,2013-01-11 10:00:00
2,2011-12-19 11:20:00,2011-12-17 09:00:00,2011-12-17 09:00:00,2011-12-18 10:00:00,NaT,2011-12-18 12:00:00
3,2012-02-01 11:41:00,2011-12-14 11:00:00,2011-12-14 12:00:00,NaT,NaT,2012-01-05 12:00:00
4,2012-06-01 12:00:00,2012-05-01 11:15:00,2012-01-03 12:00:00,NaT,NaT,2012-01-12 08:00:00

In [7]:
for element in ["HORA REPORTE","HORA EVENTO","HORA DE ULTIMO AVISTAMIENTO","HORA DE LOCALIZACIoN","HORA DE INGRESO"]:
    del df[element]

In [8]:
df.columns = df.columns.str.lower().str.replace(' ', '_')
string_columns = list(df.dtypes[df.dtypes == 'object'].index)
for col in string_columns:
    df[col] = df[col].str.lower().str.replace(' ', '_')
    
df.head()

,registro_nacional,fecha_reporte,fecha_evento,estado,clave_estado,municipio,clave_municipio,nacionalidad,estatus_migratorio,sexo,...,tipo_de_cejas,tamano_de_la_boca,barba,bigote,submarca,tipo_denuncia,tipo_de_evento,tipo_causal,clasificacion_causal,causal
0,desaparecido,2011-12-10 10:30:00,2009-09-02 02:30:00,tlaxcala,29,tlaxcala,33,mexicana,no_especificado,femenino,...,NaN,NaN,NaN,NaN,no_especificado,NaN,eventos_validados,_,_,_
1,desaparecido,2012-03-01 10:00:00,2011-12-28 12:00:00,colima,6,villa_de_alvarez,10,mexicana,NaN,femenino,...,NaN,NaN,NaN,NaN,no_especificado,NaN,eventos_validados,_,_,_
2,desaparecido,2011-12-19 11:20:00,2011-12-17 09:00:00,tlaxcala,29,la_magdalena_tlaltelulco,48,mexicana,no_especificado,masculino,...,NaN,NaN,NaN,NaN,no_especificado,NaN,eventos_validados,ausencia_involuntaria____,accidentes,_
3,desaparecido,2012-02-01 11:41:00,2011-12-14 11:00:00,colima,6,tecoman,9,mexicana,no_especificado,femenino,...,NaN,grande,NaN,NaN,no_especificado,NaN,eventos_validados,_,_,_
4,desaparecido,2012-06-01 12:00:00,2012-05-01 11:15:00,colima,6,villa_de_alvarez,10,mexicana,NaN,femenino,...,NaN,NaN,NaN,NaN,no_especificado,NaN,eventos_validados,_,_,_

In [9]:
df.fecha_de_localizacion.head()

0                   NaT
1   2013-01-11 10:00:00
2   2011-12-18 12:00:00
3   2012-01-05 12:00:00
4   2012-01-12 08:00:00
Name: fecha_de_localizacion, dtype: datetime64[ns]

In [ ]:
df.to_csv("data/able_to_work.csv")